@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');
html {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

button, input {
  font-family : inherit;
  font-size: 1em;
}